.main {
    font-family:'Open Sans', sans-serif;
    height:95vh;
}
@media screen and (max-width:400px) {


    .main h1 {
        padding-top:15vh


    }
    .img {
        margin-top: 25px;
        border-radius:50%;
        width: 50%
    }
   

    .main p {

        text-align: left;
        padding-top:3vh;
        /* padding-left: 25px;
        padding-right:25px; */
        
        font-size: 14px;
        color: #111111
    }

}

.main h1 {
    padding-top:15vh


}




.main p {

    text-align: left;
    padding-top:3vh;
    /* padding-left: 25px;
    padding-right:25px; */
    font-weight: 400;
    line-height:1.9;
    font-size: 15px;
    color: #111111
}
.img {
    margin-top: 25px;
    border-radius:50%;
    width: 30%
}

